<div id= "home">
<a href= "https://www.facebook.com/TheRushStudio">
	<img src= "http://therushstudio.com/wp-content/uploads/2012/08/facebook-round.png" class= "socialfb">
</a>
<a href= "https://twitter.com/therushstudio">
	<img src= "http://therushstudio.com/wp-content/uploads/2012/08/twitter-round.png" class= "socialtw">
</a>
<a href= "/">
	<img src= "http://therushstudio.com/wp-content/uploads/2012/01/logo.png" class= "logo">
</a>
<p>
	<img src= "http://therushstudio.com/wp-content/uploads/featured_post_images/1364136781.jpg">
</p>
<p id= "slogan">
	Get your 7 Day unlimited $25 Intro Package
</p>
<a href= "http://clients.mindbodyonline.com/ws.asp?studioid=23206&stype=41">
	<img src= "http://therushstudio.com/wp-content/themes/founder/images/default/buy-now.png" class= "buynow">
</a>
</div>
